@charset "UTF-8";
html {
  font-family: "NotoSansCJKjp", "Roboto";
  font-size: 62.5%;
  margin: 0 auto;
  padding: 0 auto;
}

body {
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  /*←相対位置*/
  padding-bottom: 300px;
  /*←footerの高さ*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*←全て含めてmin-height:100vhに*/
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.fas, .fab {
  color: black;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header__container {
  background-color: #9BE7FF;
}

.header__container--name {
  font-size: 2.5rem;
  color: #fff;
  font-style: italic;
  padding-top: 20px;
}

.header__container--menu {
  width: 980px;
  font-size: 3rem;
  padding: 30px 0 10px 0;
  margin: 0 auto;
}

.header__container--menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container--menu ul li {
  width: 25%;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.header__container--menu ul li a {
  display: block;
  color: black;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header__container--menu ul li a:hover {
  background-color: #5dd9ff;
  color: #fff;
}

#page-animate::before {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #9BE7FF;
  z-index: 9999;
  pointer-events: none;
  right: 100%;
  -webkit-transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

#page-animate::after {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #9BE7FF;
  z-index: 9999;
  pointer-events: none;
  left: 100%;
  -webkit-transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

#page-animate.is-slide-in::before {
  right: 0;
}

#page-animate.is-slide::after {
  left: 0;
}

main {
  width: 980px;
  margin: 0 auto;
}

.about__title {
  font-size: 5.5rem;
  margin: 50px 0 80px 0;
  padding-bottom: 40px;
  border-bottom: 2px solid #eee;
}

.about__intro {
  width: 100%;
  padding-bottom: 30px;
}

.about__intro img {
  border: 1px solid #eee;
  float: left;
  width: 250px;
  height: 250px;
  margin-left: 100px;
}

.about__intro--list {
  line-height: 50px;
  float: right;
  font-size: 2.5rem;
}

.about__intro--list p {
  text-align: left;
  border-bottom: 2px solid #eee;
}

.about__intro--list--question1 {
  margin-right: 300px;
}

.about__intro--list--question2 {
  margin-right: 310px;
}

.about__intro--list--question3 {
  margin-right: 336px;
}

.about__intro--list--question4 {
  margin-right: 310px;
}

.about__details {
  text-align: left;
  margin-top: 300px;
  font-size: 2rem;
  border-top: 2px solid #eee;
  padding-top: 50px;
}

.about__details ul {
  margin-left: 80px;
}

.about__details--list {
  line-height: 50px;
}

.about__explanation {
  text-align: left;
  margin-top: 50px;
  font-size: 2rem;
  border-top: 2px solid #eee;
  padding-top: 10px;
}

.about__explanation li {
  padding-top: 30px;
}

.about__promotion {
  margin-top: 70px;
}

.about__promotion p {
  font-size: 2.5rem;
}

.about__promotion button {
  margin-top: 30px;
  width: 50%;
  font-size: 2rem;
  height: 50px;
  background-color: #9BE7FF;
  -webkit-transition: all .4s;
  transition: all .4s;
  outline: none;
  border: 2px solid #5dd9ff;
}

.about__promotion button:hover {
  background-color: #5dd9ff;
  color: #fff;
}

footer {
  width: 100%;
  padding-top: 50px;
  background-color: #9BE7FF;
  position: absolute;
  /*←絶対位置*/
  bottom: 0;
  /*下に固定*/
}

.footer__container {
  width: 980px;
  margin: 0 auto;
}

.footer__container nav ul {
  list-style-type: none;
  float: left;
  font-size: 1.5rem;
}

.footer__container nav li {
  padding-bottom: 10px;
}

.footer__container nav li a {
  color: black;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer__container nav li a:hover {
  color: #fff;
}

.footer__container--icon {
  float: right;
  font-size: 3rem;
}

.footer__container--icon .fa-envelope, .footer__container--icon .fa-twitter-square {
  padding-right: 20px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer__container--icon .fa-envelope:hover, .footer__container--icon .fa-twitter-square:hover {
  color: #fff;
  cursor: pointer;
}

.footer__container p {
  font-size: 1.5rem;
  margin: 0 auto;
  padding-top: 150px;
}

@media screen and (max-width: 959px) {
  main {
    width: 480px;
  }
  .header__container--menu {
    width: 480px;
  }
  .header__container--menu ul {
    display: list-item;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  .header__container--menu ul li {
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    border: none;
  }
  .header__container--menu ul li a {
    display: inline-block;
    margin: 0 auto;
  }
  .about__title {
    font-size: 4.5rem;
    margin-bottom: 30px;
  }
  .about__intro img {
    display: none;
  }
  .about__intro--list {
    float: right;
    margin-right: 40px;
  }
  .about__intro--list--question1 {
    margin-right: 220px;
  }
  .about__intro--list--question2 {
    margin-right: 230px;
  }
  .about__intro--list--question3 {
    margin-right: 255px;
  }
  .about__intro--list--question4 {
    margin-right: 230px;
  }
  .about__details {
    margin-top: 270px;
  }
  .about__details ul {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__container {
    width: 100%;
  }
  .footer__container--icon {
    width: 10%;
    margin-right: 10px;
  }
  .footer__container--icon .fa-envelope, .footer__container--icon .fa-twitter-square {
    float: none;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 0.5rem;
  }
  main {
    width: 350px;
  }
  .header__container--menu {
    width: 350px;
  }
  .header__container--menu ul {
    display: list-item;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  .header__container--menu ul li {
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    border: none;
  }
  .header__container--menu ul li a {
    text-align: center;
    margin: 0 auto;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .about__intro img {
    display: none;
  }
  .about__intro--list {
    float: right;
    margin-right: 40px;
  }
  .about__intro--list--question1 {
    margin-right: 120px;
  }
  .about__intro--list--question2 {
    margin-right: 125px;
  }
  .about__intro--list--question3 {
    margin-right: 145px;
  }
  .about__intro--list--question4 {
    margin-right: 125px;
  }
  .about__details {
    margin-top: 270px;
  }
  .about__details ul {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__container {
    width: 100%;
  }
  .footer__container--icon {
    width: 10%;
    margin-right: 10px;
  }
  .footer__container--icon .fa-envelope, .footer__container--icon .fa-twitter-square {
    float: none;
  }
}
/*# sourceMappingURL=about.css.map */