@charset "UTF-8";
html {
  font-family: "NotoSansCJKjp", "Roboto";
  font-size: 62.5%;
  margin: 0 auto;
  padding: 0 auto;
}

body {
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  padding-bottom: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.fas, .fab {
  color: black;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header__container {
  background-color: #9BE7FF;
}

.header__container--name {
  font-size: 2.5rem;
  color: #fff;
  font-style: italic;
  padding-top: 20px;
}

.header__container--menu {
  width: 980px;
  font-size: 3rem;
  padding: 30px 0 10px 0;
  margin: 0 auto;
}

.header__container--menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container--menu ul li {
  width: 25%;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.header__container--menu ul li a {
  display: block;
  color: black;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header__container--menu ul li a:hover {
  background-color: #5dd9ff;
  color: #fff;
}

.header__img {
  width: 980px;
}

#page-animate::before {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #9BE7FF;
  z-index: 9999;
  pointer-events: none;
  right: 100%;
  -webkit-transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

#page-animate::after {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #9BE7FF;
  z-index: 9999;
  pointer-events: none;
  left: 100%;
  -webkit-transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

#page-animate.is-slide-in::before {
  right: 0;
}

#page-animate.is-slide::after {
  left: 0;
}

main {
  width: 980px;
  margin: 0 auto;
}

.contents__title {
  font-size: 5.5rem;
  margin: 100px 0 80px 0;
}

.contents__list {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contents__list h2 {
  font-size: 3rem;
  font-family: "Roboto";
}

.contents__list p {
  padding: 10px 40px 20px 40px;
  font-size: 1.5rem;
}

.contents__list--web {
  width: 33.333%;
}

.contents__list--movie {
  width: 33.333%;
}

.contents__list--programming {
  width: 33.333%;
}

.fa-code, .fa-video, .fa-pen {
  font-size: 4rem;
  padding: 20px 0;
}

footer {
  width: 100%;
  padding-top: 50px;
  background-color: #9BE7FF;
  position: absolute;
  /*←絶対位置*/
  bottom: 0;
  /*下に固定*/
}

.footer__container {
  width: 980px;
  margin: 0 auto;
}

.footer__container nav ul {
  list-style-type: none;
  float: left;
  font-size: 1.5rem;
}

.footer__container nav li {
  padding-bottom: 10px;
}

.footer__container nav li a {
  color: black;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer__container nav li a:hover {
  color: #fff;
}

.footer__container--icon {
  float: right;
  font-size: 3rem;
}

.footer__container--icon .fa-envelope, .footer__container--icon .fa-twitter-square {
  padding-right: 20px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer__container--icon .fa-envelope:hover, .footer__container--icon .fa-twitter-square:hover {
  color: #fff;
  cursor: pointer;
}

.footer__container p {
  font-size: 1.5rem;
  margin: 0 auto;
  padding-top: 150px;
}
/*# sourceMappingURL=home.css.map */