@charset "UTF-8";
html {
  font-family: "NotoSansCJKjp";
  font-size: 62.5%;
  margin: 0 auto;
  padding: 0 auto;
}

body {
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  /*←相対位置*/
  padding-bottom: 300px;
  /*←footerの高さ*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*←全て含めてmin-height:100vhに*/
}

ul, li {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.fas, .fab {
  color: black;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header__container {
  background-color: #9BE7FF;
}

.header__container--name {
  font-size: 2.5rem;
  color: #fff;
  font-style: italic;
  padding-top: 20px;
}

.header__container--menu {
  width: 980px;
  font-size: 3rem;
  padding: 30px 0 10px 0;
  margin: 0 auto;
}

.header__container--menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container--menu ul li {
  width: 25%;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.header__container--menu ul li a {
  display: block;
  color: black;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header__container--menu ul li a:hover {
  background-color: #5dd9ff;
  color: #fff;
}

#page-animate::before {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #9BE7FF;
  z-index: 9999;
  pointer-events: none;
  right: 100%;
  -webkit-transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

#page-animate::after {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #9BE7FF;
  z-index: 9999;
  pointer-events: none;
  left: 100%;
  -webkit-transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

#page-animate.is-slide-in::before {
  right: 0;
}

#page-animate.is-slide::after {
  left: 0;
}

main {
  width: 980px;
  margin: 0 auto;
}

.works__title {
  font-size: 5.5rem;
  margin: 50px 0 80px 0;
  padding-bottom: 40px;
  border-bottom: 2px solid #eee;
}

.works__tab {
  width: 100%;
  max-width: 100%;
  margin: auto;
}

.works__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__menu--item {
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid #5dd9ff;
  font-size: 2rem;
  background-color: #9BE7FF;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.works__menu--item:not {
  border-left: none;
}

.works__menu--item:hover {
  background-color: #5dd9ff;
  color: white;
}

.works__menu--item.active {
  color: white;
  background-color: #5dd9ff;
  border-left: 2px solid #5dd9ff;
  border-right: 2px solid #5dd9ff;
  border-bottom: 2px solid #5dd9ff;
  border-top: #fff;
}

.works__box {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 1px solid #5dd9ff;
  border-right: 1px solid #5dd9ff;
  border-bottom: 1px solid #5dd9ff;
}

.works__box--contents {
  display: none;
  font-size: 5rem;
}

.works__box--contents.show {
  display: block;
}

.works__box--list {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.works__box--list li {
  width: 33.333%;
  margin: 0 auto;
  overflow: hidden;
}

.works__box--list--img {
  width: 100%;
  overflow: hidden;
}

.works__box--list--img a {
  display: inline-block;
}

.works__box--list--img img {
  -webkit-transition: all .5s;
  transition: all .5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.works__box--list--img img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all .5s;
  transition: all .5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.works__box--list img {
  width: 75%;
  margin-top: 40px;
  overflow: hidden;
}

.works__box--list img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.works__box--list p {
  font-size: 1.5rem;
}

.works footer {
  width: 100%;
  padding-top: 50px;
  background-color: #9BE7FF;
  position: absolute;
  /*←絶対位置*/
  bottom: 0;
  /*下に固定*/
}

.works .footer__container {
  width: 980px;
  margin: 0 auto;
}

.works .footer__container nav ul {
  list-style-type: none;
  float: left;
  font-size: 1.5rem;
}

.works .footer__container nav li {
  padding-bottom: 10px;
}

.works .footer__container nav li a {
  color: black;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.works .footer__container nav li a:hover {
  color: #fff;
}

.works .footer__container--icon {
  float: right;
  font-size: 3rem;
}

.works .footer__container--icon .fa-envelope, .works .footer__container--icon .fa-twitter-square {
  padding-right: 20px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.works .footer__container--icon .fa-envelope:hover, .works .footer__container--icon .fa-twitter-square:hover {
  color: #fff;
  cursor: pointer;
}

.works .footer__container p {
  font-size: 1.5rem;
  margin: 0 auto;
  padding-top: 150px;
}
/*# sourceMappingURL=works.css.map */