// カラー 
$font_main: black;
$font_sub: #eee;
$bgcolor_main: #9BE7FF;
$changecolor_main: #5dd9ff;
$changecolor_sub: #fff;

// フォントスタイル
$main_family: "NotoSansCJKjp";
$sub_family: "Roboto";

html{
    font-family: $main_family,$sub_family;
	font-size: 62.5%;
    margin: 0 auto;
    padding: 0 auto;
}

body{
    text-align: center;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    padding-bottom: 300px;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.fas,.fab{
    color: $font_main;
}

// ヘッダー
header{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.header{
    &__container{
        background-color: $bgcolor_main;
        &--name{
            font-size: 2.5rem;
            color: #fff;
            font-style: italic;
            padding-top: 20px;
        }
    
        &--menu{
            width: 980px;
            font-size: 3rem;
            padding: 30px 0 10px 0;
            margin: 0 auto;
            ul{
                display: flex;
                li{
                    width: 25%;
                    border-left: 1px solid $font_sub;
                    border-right: 1px solid $font_sub;
                    a{
                        display: block;
                        color: $font_main;
                        transition: all .4s;
                        &:hover{
                            background-color: $changecolor_main;
                            color: $changecolor_sub;
                        }
                    }
                }
            }
        }
    
    }
    &__title{
        font-style: italic;
        font-size: 8.6rem;
        text-align: center;
        padding: 200px;
    }
    &__img{
        width: 600px;
        margin: 0 auto;
        padding: 0 auto;
    }
}

#page-animate{
    &::before {
        content: '';
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $bgcolor_main;
        z-index: 9999;
        pointer-events: none;
        right: 100%;
        -webkit-transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
        transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::after {
        content: '';
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $bgcolor_main;
        z-index: 9999;
        pointer-events: none;
        left: 100%;
        -webkit-transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
        transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &.is-slide-in::before {
        right: 0;
    }

    &.is-slide::after {
        left: 0;
    }
}



// コンテンツ
main{
    width: 980px;
    margin: 0 auto;
}

.contents{
    &__title{
        font-size: 5.5rem;
        margin: 100px 0 80px 0;
    }
    &__list{
        list-style-type: none;
        display: inline-flex;

        h2{
            font-size: 3rem;
            font-family: $sub_family;
        }
        p{
            padding: 10px 40px 20px 40px;
            font-size: 1.5rem;
        }

        &--web{
            width: 33.333%;
        }
        &--movie{
            width: 33.333%;
        }
        &--programming{
            width: 33.333%;
        }
    }
}

.fa-code,.fa-video,.fa-pen{
    font-size: 4rem;
    padding:20px 0;
}

// フッター
footer{
    width: 100%;
	padding-top: 50px;
	background-color: $bgcolor_main;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.footer{
    &__container{
        width: 980px;
        margin: 0 auto;
        nav{
            ul{
                list-style-type: none;
                float: left;
                font-size: 1.5rem;
            }
            li{
                padding-bottom: 10px;
                a{
                    color: $font_main;
                    transition: all .4s;                    
                    &:hover{
                        color: $changecolor_sub;
                    }
                }
            }
    
        }

        &--icon{
            float: right;
            font-size: 3rem;
    
            .fa-envelope,.fa-twitter-square{
                padding-right: 20px;
                transition: all .4s;
                &:hover{
                    color: $changecolor_sub;
                    cursor: pointer;
                }
            }
    
        }

        p{
            font-size: 1.5rem;
            margin: 0 auto;
            padding-top: 150px;
        }
    }
}

