// カラー 
$font_main: black;
$font_sub: #eee;
$bgcolor_main: #9BE7FF;
$changecolor_main: #5dd9ff;
$changecolor_sub: #fff;

// フォントスタイル
$main_family: "NotoSansCJKjp";
$sub_family: "Roboto";

html{
    font-family: $main_family,$sub_family;
	font-size: 62.5%;
    margin: 0 auto;
    padding: 0 auto;
    height: 1600px;
}

body{
    text-align: center;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 300px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.fas,.fab{
    color: $font_main;
}


#page-animate{
    &::before {
        content: '';
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $bgcolor_main;
        z-index: 9999;
        pointer-events: none;
        right: 100%;
        -webkit-transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
        transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::after {
        content: '';
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $bgcolor_main;
        z-index: 9999;
        pointer-events: none;
        left: 100%;
        -webkit-transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
        transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &.is-slide-in::before {
        right: 0;
    }

    &.is-slide::after {
        left: 0;
    }
}


// コンテンツ
main{
    width: 980px;
    margin: 0 auto;
    color: black;
}

.fa-arrow-left{
    font-size: 2.5rem;
    float: left;
    padding-top: 20px;
}

.intro{
    margin-bottom: 100px;

    &__title{
        font-size: 5.5rem;
        padding: 80px 0 40px 0;
        margin-bottom: 80px;
        border-bottom: 2px solid $font_sub;
    }

    &__imgs{
        float: left;
        width: 50%;

        &--list{
            img{
                width: 100%;
                border: 1px solid $font_sub;
            }

            p{
                font-size: 2rem;
                text-align: left;
            }

            &--top{
                margin-bottom: 100px;
            }

            &--sub{
                margin-bottom: 30px;
            }
        }
    }

    &__txts{
        float: right;
        width: 50%;

        &--list{
            &--top{
                margin-top: 30px;

                p{
                    font-size: 2rem;
                    text-align: left;
                }

                h3{
                    text-align: left;
                    font-size: 4rem;
                    line-height: 50px;
                    margin-left: 50px;
                }

                &--attention{
                    font-size: 2rem;
                    margin: 30px 0 0 30px;
                }
            }

            &--sub{
                text-align: left;
                font-size: 2.5rem;
                margin: 180px 30px 0 0;
                line-height: 30px;
            }
        }
    }

}

@media screen and (max-width: 959px) {
    main{
        width: 480px;
    }

    .header__container--menu{
        width: 480px;
        ul{
            display: list-item;
            list-style-type: none;
            margin: 0 auto;
            padding: 0;
            li{
                text-align: center;
                padding: 5px;
                margin: 0 auto;
                border: none;
                a{
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
    }

    .intro{
        width: 100%;
        margin: 0 auto;
        &__imgs{
            float: none;
            width: 100%;

            &--list{
                &--top{
                    width: 100%;
                    margin: 0 auto;
                }
                p{
                    display: none;
                }
                &--sub{
                    display: none;
                }
            }
        }
        &__txts{
            float: none;
            width: 100%;
            &--list{
                text-align: center;
                margin-left: 10px;
                &--sub{
                    margin: 80px 30px 0 0;
                }
            }
        }
    }

    .footer{
        &__container{
            width: 100%;

            &--icon{    
                width: 10%;
                margin-right: 10px;
                .fa-envelope,.fa-twitter-square{

                    float: none;
                }
        
            }
        }
    }
}
@media screen and (max-width: 480px) {
    html{
        font-size: 0.5rem;
    }

    main{
        width: 350px;
    }

    .header__container--menu{
        width: 350px;
        ul{
            display: list-item;
            list-style-type: none;
            margin: 0 auto;
            padding: 0;
            li{
                text-align: center;
                padding: 5px;
                margin: 0 auto;
                border: none;
                a{
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
    }

    .intro{
        width: 100%;
        margin: 0 auto;
        &__imgs{
            float: none;
            width: 100%;

            &--list{
                &--top{
                    margin: 0 auto;
                }
                p{
                    display: none;
                }
                &--sub{
                    display: none;
                }
            }
        }
        &__txts{
            float: none;
            width: 100%;
            &--list{
                text-align: center;
                margin-left: 10px;
                &--sub{
                    margin: 80px 30px 0 0;
                }
            }
        }
    }

    .footer{
        &__container{
            width: 100%;

            &--icon{    
                width: 10%;
                margin-right: 10px;
                .fa-envelope,.fa-twitter-square{

                    float: none;
                }
        
            }
        }
    }
}